<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 게시판 -->	
<mapper namespace="com.dealim.univ.mapper.BoardMapper">

	<select id="list"
			resultType="com.dealim.univ.domain.Board">
		<![CDATA[
			SELECT	board_no 	AS boardNo
					, title
					, content
					, writer
					, reg_date	AS regDate
					, price	AS Price
					, out_date 
			FROM	board
			WHERE	board_no > 0
			ORDER BY 	board_no DESC
						, reg_date DESC
		]]>
	</select>
	
	<select id="countArticle" resultType="int">
		SELECT COUNT(*) FROM board
		<!-- WHERE절을 include 태그로 삽입 -->
		<include refid="search"></include>
	</select>
	
	<sql id="search">
		<choose>
			<when test="searchOption == 'all'">
				WHERE writer like '%'||#{keyword}||'%'
				OR price like '%'||#{keyword}||'%'
				OR title like '%'||#{keyword}||'%'
			</when>
			<otherwise>
				WHERE ${searchOption} like '%'||#{keyword}||'%'
			</otherwise>
		</choose>
	</sql>

	<select id="read" parameterType="java.lang.Integer"
         resultType="com.dealim.univ.domain.Board">
      SELECT   	board_no   AS boardNo
            	, title
            	, content
            	, writer
            	, reg_date   AS regDate
            	, price AS Price
            	, out_date 
      FROM   	board
      WHERE   	board_no = #{boardNo}
   </select> 

	
	<update id="update"
			parameterType="com.dealim.univ.domain.Board">
			UPDATE  board
			SET 	title		= #{title}
					, content 	= #{content}
					, price		= #{price}
					, out_date	= #{out_date}
			WHERE 	board_no 	= #{boardNo}
	</update> 
	
	<delete id="delete"
			parameterType="java.lang.Integer">
			DELETE 	FROM board
			WHERE 	board_no = #{boardNo}
	</delete>
	

	<insert id="create">
		INSERT INTO board
		(
			title
			, content
			, writer
			, price
			, out_date
		) 
		VALUES
		(
			#{title}
			, #{content}
			, #{writer}
			, #{price}
			, #{out_date}
		) 
	</insert> 

</mapper>